#####################################################################
# This is Jekyll's configuration file for this project.
#
# For more information, see the documentation:
#
#     https://jekyllrb.com/docs/configuration/
#####################################################################

# Site settings
title: Anarchism Dot NYC
tagline:
description: Events and happenings in the Anarchist jurisdiction (lmao) of New York City. Stop scrolling insta to find the move.<br />Mostly for the girls, gays, and theys, heavy on the queer because of course we fucking are.
lang: "en_US" # The primary human language you write in.
timezone: "America/New_York"
type: Website
logo: &logo static/img/BlackFlagSymbol.svg

author:
  name: Anarcho-Tech NYC
  email:

# List of other sites to link to in the site footer
# along with some information about them.
#
# Please keep this list alphabetized by `adr.locality`.
sister_sites:
  - title: Anarchism Dot NYC
    url: https://Anarchism.NYC
    adr:
      locality: New York
      region: NY
      country_name: United States
      geo:
        latitude: "40.6975"
        longitude: "-73.9795"
    issue_tracker: https://github.com/AnarchoTechNYC/NYCAnarchistEvents/issues
    other_local_aggregators:
      - name: Nonsense NYC
        url: https://www.nonsensenyc.com/
        for:
          - independent art
          - weird events
          - strange happenings
          - unique parties
          - senseless culture
      - name: Oh My Rockness
        url: https://www.ohmyrockness.com/
        for:
          - indie concerts
      - name: Infosec-Conferences.com
        url: https://infosec-conferences.com/us-state/new-york/
        for:
          - cybersecurity conferences
          - infosec events
      - name: The Skint
        url: https://www.theskint.com/
        for:
          - free
          - cheap
  - title: Anarchism Dot BOS
    url: https://readymouse.github.io/AnarchistEventsBOS/
    adr:
      locality: Boston
      region: MA
      country_name: United States
      geo:
        latitude: 42.3125
        longitude: -70.9979
    issue_tracker: https://github.com/ReadyMouse/AnarchistEventsBOS/issues
    other_local_aggregators:
      - name: MeetBoston
        url: https://www.meetboston.com/events/
        for:
          - Boston area highlights
  - title: RVA.rip
    url: https://rva.rip/
    adr:
      locality: Richmond
      region: VA
      country_name: United States
      geo:
        latitude: 37.5248
        longitude: -77.4932
    issue_tracker: https://github.com/natviii/rva.rip/issues
  - title: San Francisco/Bay Area, CA
    url: https://bay.lgbt/
    adr:
      locality: San Francisco
      region: CA
      country_name: United States
      geo:
        latitude: 37.7848
        longitude: -122.7283
    issue_tracker: https://github.com/ivyraine/bay.lgbt/issues

#twitter:
#  card: summary_large_image
#  username:

# Location of this site in Onionland.
#onion:

# Base URL of a CORS proxy to use.
cors_proxy_base_url: https://cors.anarchism.nyc

# Build settings
markdown: kramdown
exclude:
  - .forestry
  - .github
  - .gitignore
  - .vagrant
  - Gemfile
  - Gemfile.lock
  - README.md
  - Vagrantfile
  - cors-anywhere # Used in development for now.
  - vendor
include:
  - .well-known
  - .nojekyll

# Blog settings.
paginate: 5    # How many posts per HTML page.
paginate_path: "/blog/page/:num/"
date_format: "%B %e, %Y"
time_format: "%l:%M %p"

# Collections.
#
# Collections are a Jekyll feature that takes structured data and can
# render a page for each item in that data structure. For example, you
# can make a collection of baking recipes and then, for each recipe in
# the collection, you can make a page with its own Web address to show
# the recipe on your Web site.
#collections:

# Front Matter defaults.
#defaults:
#  - scope:
#      path: "" # an empty string here means all files in the project
#    values:
#      layout: page
#      image: *logo

# Settings for jekyll-feed plugin.
#feed:
#  collections:
#    - events

# Settings for jekyll-redirect-from plugin.
redirect_from:
  json: false

# Load whitelisted plugins.
# See https://help.github.com/en/articles/configuring-jekyll-plugins
plugins:
    - jekyll-seo-tag
    - jekyll-feed
    - jekyll-redirect-from
