{% comment %}
This is the "main" calendar HTML base code. It's the
primary included file that makes up the bulk of the app
itself and defines the containing calendar element and
any of the custom interactive elements needed.
{% endcomment -%}

<div id="calendar-container">

    <div id="calendar">
        <noscript>This calendar needs JavaScript to function. Please <a href="https://enable-javascript.com/">enable JavaScript in your browser</a>, or disable any active script blockers for this site.</noscript>
    </div>

    <div id="calendar-loading-spinner" class="lds-dual-ring"><span>Loading&hellip;</span></div>

</div><!-- #calendar-container -->

<div id="calendar-filter-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter calendar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose which events to show or hide.</p>
                <form>
                    <fieldset id="filter-event-sources" class="form-group">
                        <legend>Sources</legend>
                        <details>
                            <summary>Filter all events by their source</summary>
                            <p style="text-align: right; font-size: x-small; margin-bottom: 0;">
                                <button type="button" value="on">Check all</button>
                                <button type="button" value="off">Uncheck all</button>
                                {% comment %}
                                Empty string as `value` attribute will toggle state.
                                {% endcomment -%}
                                <button type="button" value="">Toggle all</button>
                            </p>
                            <template id="filter-list-item-template">
                                <style>
                                li {
                                    list-style-type: none;
                                    text-align: left;
                                }
                                </style>
                                <li>
                                    <input class="form-check-input"
                                        id=""
                                        type="checkbox"
                                        checked="checked"
                                        value=""
                                    />
                                    <label class="form-check-label" for="">
                                        <slot name="item-name">Event source name</slot>
                                    </label>
                                </li>
                            </template>
                            <ul>
                                <!--
                                    Dynamically fills with
                                    list items based on the
                                    event sources defined.
                                -->
                            </ul>
<script type="module">
// Generate list items out of each EventSource object in the Calendar.
import { default as calendar } from '{{ site.baseurl }}{% link static/js/calendar.js %}';
window.addEventListener('DOMContentLoaded', function (e) {
    calendar.getEventSources().sort(function (a, b) {
        var x = a.internalEventSource.extendedProps.name;
        var y = b.internalEventSource.extendedProps.name;
        return x.localeCompare(y);
    }).forEach(function (s) {
        var el = document.createElement('calendar-filter-list-item');
        el.dataset.id = s.id;
        var nameSlot = document.createElement('span');
        nameSlot.setAttribute('slot', 'item-name');
        nameSlot.appendChild(document.createTextNode(s.internalEventSource.extendedProps.name));
        el.appendChild(nameSlot);
        document.getElementById('filter-event-sources')
            .querySelector('ul')
            .appendChild(el);
    });
});

// Make the "Check all" and "Uncheck all" buttons do their thing.
document.querySelectorAll('#filter-event-sources button').forEach(function ( btn ) {
    btn.addEventListener('click', function ( e ) {
        document.querySelectorAll('#filter-event-sources calendar-filter-list-item')
        .forEach(function ( x ) {
            var q;
            switch ( btn.value ) {
                case 'on':
                    q = ':not(:checked)';
                    break;
                case 'off':
                    q = ':checked';
                    break;
                case '':
                default:
                    q = '';
                    break;
            }
            var el = x.shadowRoot.querySelector(`input[type="checkbox"]${q}`);
            if ( el ) {
                el.click();
            }
        });
    });
});
</script>
                        </details>
                    </fieldset>
                    <!-- TODO: Not yet implemented.
                    <fieldset id="filter-event-categories" class="form-group">
                        <legend>Categories</legend>
                        <ul>
                        </ul>
                    </fieldset>
                    -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div><!-- #calendar-filter-modal -->
