{% comment %}
This is the "main" calendar HTML base code. It's the
primary included file that makes up the bulk of the app
itself and defines the containing calendar element and
any of the custom interactive elements needed.
{% endcomment -%}

<div id="calendar-container">

    <div id="calendar">
        <noscript>This calendar needs JavaScript to function. Please <a href="https://enable-javascript.com/">enable JavaScript in your browser</a>, or disable any active script blockers for this site.</noscript>
    </div>

    <div id="calendar-loading-spinner" class="lds-dual-ring"><span>Loading&hellip;</span></div>

</div><!-- #calendar-container -->

<div id="calendar-filter-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter calendar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose which events to show or hide.</p>
                <form>
                    {% include calendar-filter-modal-event-source.html  %}
                    {% comment %}<!-- TODO: Not yet implemented. -->
                    {% include calendar-filter-modal-source-type.html %}
                    {% include calendar-filter-modal-event-categories.html %}
                    {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div><!-- #calendar-filter-modal -->
