{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
    <p data-not-valid-after="2024-02-10T03:00:00-0400">
    <strong>Pocket your Valentine</strong> at <a href="https://www.google.com/calendar/event?eid=NmdzajBvcG02b3BqZWJiMjZrcjMyYjlrY2dvajBiYjE2MHI2YWJiMjY0bzM2ZGI0NjRzM2FlMWs2ZyAyb204czloc2Q3a2tramNjODhrb242NWkyb0Bn&ctz=America/New_York">Vi&rsquo;s Winter &ldquo;Pool&rdquo; Pool Party 🎱👙</a> all night on Saturday, February 10<sup>th</sup> at <a href="https://www.haven683grand.com/">Haven Bar and Lounge (683 Grand Street, Brooklyn, NY)</a>!
        <a href="https://www.google.com/calendar/event?eid=NmdzajBvcG02b3BqZWJiMjZrcjMyYjlrY2dvajBiYjE2MHI2YWJiMjY0bzM2ZGI0NjRzM2FlMWs2ZyAyb204czloc2Q3a2tramNjODhrb242NWkyb0Bn&ctz=America/New_York"></a>
    </p>
</div>
