{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
    <p data-not-valid-after="2023-11-05T03:00:00-0400">
    <strong>Noble neighbors, note this night of November the 4<sup>th</sup>, whose evening's novel narrative is indeed nonfiction, featuring a noctural celebration hosted by the neighborhood's notorious trans hacker nymph and her network of preternaturally talented nightingale performers</strong> at <a href="https://www.wonderville.nyc/events/november-november-trance-party">November, November Trance Party</a>.
        <a href="https://www.wonderville.nyc/events/november-november-trance-party"><img src="https://images.squarespace-cdn.com/content/v1/5ca40c7b40978c0001458f5d/62ba1e7e-6ba8-49be-bdcd-5b1fa2a76277/poster.1080x1080+-+Tech+LearningCollective.jpg?format=1080w" ></a>
    </p>
</div>
