{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
{% comment %}
    <p data-not-valid-after="2023-09-24T04:00:00-0400">
        <strong></strong>&hellip;<a href="https://example.com/"></a>
    </p>
{% endcomment %}
</div>
