<p><strong>This information is presented on a best-effort basis.</strong> Before making plans, consider checking with venue staff or event organizers directly.</p>

<p><strong>Want your event listed here?</strong> You must be publishing a machine-readable feed of event data formatted in <a href="https://fullcalendar.io/docs/event-source">a compatible Event Source format</a>. (This can be as simple as a <a href="https://support.google.com/calendar/answer/37083#zippy=%2Cshare-a-link">public Google Calendar</a>.) Once published, request inclusion of your event feed by <a href="https://github.com/AnarchoTechNYC/NYCAnarchistEvents/issues/new?title=Add%20calendar%20feed%20as%20event%20source&amp;labels=enhancement&amp;body=Please%20add%20the%20following%20event%20source%20to%20the%20calendar:%20PASTE_URL_HERE">submitting your event feed address to us via a new GitHub issue</a>. You can also <a href="https://techlearningcollective.com/contact/">contact the Tech Learning Collective's Partner Operations Team</a>, who help us maintain portions of this calendar.</p>

<div id="sister-sites">
    <p><strong>Not in New York?</strong> Check out our sister sites:</p>
    <ul>
        <!--
            DEVELOPER NOTE:
            Please keep this list alphabetized.
        -->
        <li><a href="https://bay.lgbt/">San Francisco/Bay Area</a></li>
    </ul>
</div>

<p><cite>{{ site.title }}</cite> is a project of {{ site.author.name }}. Come on out and dance, or it isn't your revolution.</p>
