/**
 * @group Layout.
 */
body {
    margin: 40px 2.5%;
    padding: 0;
    background: #CCC;
}
#featured-events, #calendar {
    margin: 0 auto;
    border-style: solid;
    padding: 10px 0;
}
#featured-events {
    font-size: 24px;
    border-width: 5px 0 0 0;
}
#featured-events img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
#calendar {
    border-width: 5px 0;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}
footer div {
    margin-bottom: 1rem;
}
#sister-sites p,
#sister-sites ul,
#sister-sites li {
    display: inline;
    margin: 0;
    padding: 0;
}
#sister-sites li:not(:last-child)::after {
    content: ", ";
}
#sister-sites li:last-child::before {
     content: " and ";
}
#sister-sites li:last-child::after {
    content: ".";
}
#other-local-aggregators ul {
    list-style-type: none;
}

/**
 * @group Typography.
 */
body {
    font-family: "Helvetica Neue";
    font-weight: 200;
    color: #444;
    text-align: center;
}
h1 {
    font-size: 45px;
}
h1 span {
    font-weight: 100;
}
h1 span:first-child, h1 span:last-child {
    font-weight: bold;
}

header h1 {
    margin-bottom: 20px;
    border-bottom: 5px solid;
}
header p {
    font-size: 21px;
}
#site-logo {
    max-width: 1em;
    margin-bottom: 5px;
    vertical-align: text-top;
}

#calendar-container {
    position: relative;
}
#calendar-loading-spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    background: gray;
    opacity: .9;
    border-radius: 10px;
    z-index: 999;
}
#calendar-loading-spinner span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 40%;
    left: 25%;
}

/**
 * Loading spinner.
 */
.lds-dual-ring {
    display: inline-block;
    width: 160px;
    height: 160px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 16px;
    border-radius: 50%;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * @group Calendar filtering modal.
 */
#calendar-filter-modal details p {
    text-align: right;
    font-size: x-small;
    margin-bottom: 0;
}

/**
 * @group Custom views.
 */
#map {
    min-height: 300px;
    height: 90vh;
}
.leaflet-popup-content h1 {
    border-bottom: none;
    font-size: large;
    line-height: 1em;
}
.leaflet-popup-content h1 img {
    display: block;
    margin: .5em auto;
    max-height: 150px;
    max-width: 100%;
}

fieldset summary {
    text-align: left;
}
