/**
 * @group Layout.
 */
body {
    margin: 40px 10px;
    padding: 0;
    background: #CCC;
}
#calendar {
    max-width: 800px;
    margin: 0 auto;
    border-width: 5px 0;
    border-style: solid;
    padding: 20px 0;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

/**
 * @group Typography.
 */
body {
    font-family: "Helvetica Neue";
    font-weight: 200;
    color: #444;
    text-align: center;
}
h1 {
    font-size: 45px;
}
h1 span {
    font-weight: 100;
}
h1 span:first-child, h1 span:last-child {
    font-weight: bold;
}

header h1 {
    margin-bottom: 20px;
    border-bottom: 5px solid;
}
header p {
    font-size: 21px;
}
