/**
 * @group Layout.
 */
body {
    margin: 40px 10px;
    padding: 0;
    background: #CCC;
}
#calendar {
    max-width: 800px;
    margin: 0 auto;
    border-width: 5px 0;
    border-style: solid;
    padding: 20px 0;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

/**
 * @group Typography.
 */
body {
    font-family: "Helvetica Neue";
    font-weight: 200;
    color: #444;
    text-align: center;
}
h1 {
    font-size: 45px;
}
h1 span {
    font-weight: 100;
}
h1 span:first-child, h1 span:last-child {
    font-weight: bold;
}

header h1 {
    margin-bottom: 20px;
    border-bottom: 5px solid;
}
header p {
    font-size: 21px;
}

#calendar-container {
    position: relative;
}
#calendar-loading-spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    background: gray;
    opacity: .9;
    border-radius: 10px;
    z-index: 999;
}
#calendar-loading-spinner span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 40%;
    left: 25%;
}

/**
 * Loading spinner.
 */
.lds-dual-ring {
    display: inline-block;
    width: 160px;
    height: 160px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 16px;
    border-radius: 50%;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
